@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start: #282C33;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start: #282C33;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-start);
}
